

/*** MEDIA ***/
@media only screen and (max-width: 768px) {
.prjct-wrt-right {
    font-size: 1.5em !important;
    top: 9% !important;
}

.right-menu {
    float: right;
    margin-top: 48px !important;
    margin-right: 2% !important;
    font-family: Roboto;
    z-index: 1040;
}

.btn-primary-menu {
    color: #161616;
    background-color: transparent;
    border-color: transparent;
    font-size: 15px !important;
    font-weight: 600 !important;
    z-index: 1040;
    font-family: roboto;
    letter-spacing: .03em !important;
}


.h1, h1 {
	font-size: 1.5em !important;
	max-width: 245px !important;
    margin: 0 auto;
}

.right-menu {
    top: -17px !important;
	font-size: 14px !important;
	position: fixed !important;
	right: 0% !important;
	font-weight: 300;
	font-family: roboto;
    letter-spacing: .1em;
	background: transparent !important;
}



.ftr-lnk {
	font-size: 1em !important;
	height: 3em !important;
    text-align: center !important;
	padding-left: 0px !important;
}

.ftr-lnk-on {
	font-size: 1em !important;
	height: 3em !important;
    text-align: center !important;
	padding-left: 0px !important;
}




.btn-ltstlk {
	padding: 3em !important;
	font-size: 1em !important;
}




.shw-cs3 {
	font-size: 1.1em !important;
	text-align: center !important;
	padding-left: 0px !important;
}




.allprojects-bg {
	margin-bottom: 2em !important;
    margin-top: 2em !important;
}

.allprojects-lgs-bg2 {
	margin-bottom: 3.6em !important;
}

}
/*** THE END MEDIA ***/


/*** NAVIGATION SITE TITLE ***/
.nav-ttl {
	font-size: 1.8em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: .03em;
	font-weight: 700;
	left: 5%;
	height:auto;
	position: absolute;
	top: 45px;
	z-index: 3;
}
/*** THE END NAVIGATION SITE TITLE ***/




/*** HERO HEADER ***/
.hero-bg {
	background: transparent;
	margin: 0 auto;
	text-align: center;
	height: 80vh;
	padding-top: 38.5vh;
}
/*** THE END HERO HEADER ***/





/*** WORKS HERO HEADER ***/
.works-hero-bg {
	background: transparent;
	margin: 0 auto;
	text-align: center;
	height: 65vh;
	padding-top: 30vh;
}



/*** THE END BLOG ***/
/*** SERVICES WRT ***/
.lg-col-wrt2 {
	font-size: 1.3em;
	line-height: 1.8em;
	padding: 3%;
	letter-spacing: .04em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #545454;
}

.lg-col-wrt3 {
	font-size: 1.3em;
	line-height: 1.8em;
	padding: 3%;
	letter-spacing: .04em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #545454;
	text-align: center;
}



/*** ALL PROJECTS LOGOS BUTTON BACKGROUND ***/
.allprojects-lgs-bg {
	width: auto;
	height: auto;
	text-align: center;
	margin-bottom: 5em;
	margin-top: 5em;
}

.allprojects-lgs-bg2 {
	width: auto;
	height: auto;
	text-align: center;
	margin-top: 5em;
}
/*** THE END ALL PROJECTS LOGOS BACKGROUND ***/


/*** LAT'S TALK BUTTON ***/
.btn-ltstlk {
    color: #fff;
    background-color: #161616;
	padding: 5em;
	font-size: 2em;
	width: 100%;
	display: inline-block;
    margin-bottom: 0;
	letter-spacing: .4em;
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
	cursor: pointer;
	white-space: nowrap;
	line-height: 1.8em;
	border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;	
}

.btn-ltstlk:hover {
	background-color: #f1f1f1;
	color: #161616;
	text-decoration: none;
}

.btn-ltstlk:focus {
	background-color: #f1f1f1;
	color: #161616;
	text-decoration: none;
}
/*** THE END LET'S TALK BUTTON ***/

/*** ALL PROJECTS BUTTON ***/
.btn-allprojects {
    color: #161616;
    background-color: transparent;
    border: 1px solid #161616;
	padding: 8px 18px;
	font-size: 1em;
	display: inline-block;
    margin-bottom: 0;
	letter-spacing: .07em;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
	cursor: pointer;
	white-space: nowrap;
	line-height: 1.8em;
	border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;	
}

.btn-allprojects:hover {
	background-color: #161616;
	color: #fff;
	border: 1px solid #161616;
	text-decoration: none;
}
/*** THE END ALL PROJECTS BUTTON ***/



/*** LOGOS ***/
.img-prjct-lgs {
  border-radius: 0px;
  max-width: 100%;
  height: auto;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
   transition: all .5s ease;
   display: table;
   position: relative;
   padding-left: 2%;
   padding-right: 2%;
   animation: animatebottom 3s;
}
/*** THE END LOGOS ***/



/*** COL STYLE ***/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
}
/*** THE END COL STYLE ***/



